body{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex: 1;
    overflow-y: auto;
}
header li a:hover {
    background-color: #f0f0f0;
}
@media (max-width: 800px) {
  body.works_on_smartphone {
  	display: block;
  }
  body.works_on_smartphone main {
  	display: block;
  }
  header .right {
  	float: none;
  }
}
.logo {
    font-size: 32px;
    font-weight: bold;
    margin-right: 15px;
}
